body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow-x: hidden;
}
#first-bg {
  width: 100%;
  height: 190px;
  background-color: rgb(7, 7, 67);
  opacity: 0.8;
}
#title {
  width: 80%;
  /* height: 100px; */
  background-color: rgb(20, 20, 100);
  /* margin: auto; */
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
}
#brand {
  display: flex;
}
#logo {
  fill: white;
  width: 80px;
  filter: invert(1);
  transform: scale(1.5);
}
#name {
  color: white;
  font-size: 40px;
  /* font-size: 40px;
    display: inline-block;
    position: relative;
    padding: 0px 30px;
    padding-right: 65%; */
}
.pages {
  display: flex;
}
.pages .link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding: 20px;
}
.pages .link:hover {
  color: pink;
  transition: color 50ms ease;
}
#back1 {
  background-image: url(wallpaperflare.com_wallpaper-1-1.jpg);
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
  top: -111px;
}
#back1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 30%;
}
#back1 form {
  position: absolute;
  z-index: 10;
  left: 10%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
#brand2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#foot {
  width: 100%;
  height: 120px;
  background-color: rgb(7, 7, 67);
  opacity: 0.8;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  bottom: 0%;
}

@media screen and (max-width: 580px) {
  #titre {
    align-items: flex-start;
  }
  .pages {
    flex-direction: column;
  }
}
